{% extends "base.html" %}

{% block content %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <h4>{{ post['content'] }}</h4>
        <span class ="badge bg-primary">{{ post['created'] }}</span>
        <hr>
        <form action="{{ url_for('delete', post_id=post['id']) }}" method="post">
                <a type="button" class="btn btn-primary" href="{{ url_for('edit', post_id=post['id']) }}">Edit</a>
                <button type="submit" class="btn btn-danger"
                onclick="return confirm('Are you sure that you want deleted post?')">Delete</button>
        </form>
{% endblock %}